// h1 {
//   color: green;
// }

#overlap {
  display: inline-block;
  position: relative;
  left: auto;
  right: auto;
}

// div {
//   display: inline-block;
//   position: relative;
// }

#healthsection {
  background-color: rgb(61, 96, 8);
  width: 250px;
  position: absolute;
  top: 25px;
  left: 75px;
  border: 5px black solid;
  padding: 15px;
}

#healthbar {
  display: block;
  position: relative;
}

#healthbarred {
  display: block;
  height: 5px;
  background-color: red;
  margin-top: 10px;
}

#healthbargreen {
  height: 5px;
  background-color: cyan;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#healthsectionE {
  background-color: rgb(61, 96, 8);
  width: 250px;
  position: absolute;
  top: 25px;
  right: 75px;
  border: 5px black solid;
  padding: 15px;
}

#healthbarE {
  display: block;
  position: relative;
}

#healthbarredE {
  display: block;
  height: 5px;
  background-color: red;
  margin-top: 10px;
}

#healthbargreenE {
  height: 5px;
  background-color: cyan;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#dialogue {
  font-family: 'Press Start 2P', cursive;
  display: none;
  background-color: darkgreen;
  position: relative;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  padding: 15px;
}

#ui {
  display: none;
}

#canvasdiv {
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
}

#attacksection {
  background-color: darkgreen;
  position: absolute;
  height: 150px;
  bottom: 0;
  left: 0;
  right: 0;
  border: 5px black solid;
  display: flex;
}

h2 {
  font-size: 16px;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
}

#attacks {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#description {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 5px black solid;
}

#bodyslam {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  height: 50px;
  font-family: 'Press Start 2P', cursive;
}

#poison {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  height: 50px;
  font-family: 'Press Start 2P', cursive;
}

#poison:hover {
  background-color: lightgray;
}

#bodyslam:hover {
  background-color: lightgray;
}

#t1 {
    font-family: 'Press Start 2P', cursive;
    text-shadow: lightgray 3px 3px;
    font-size: 20px;
    margin: 15px;
    color: black;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    // background-color: rgb(126, 233, 181);
}

p {
    font-family: 'Press Start 2P', cursive;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: black;
}

#game {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

#bg {
  height: 100%;
  width: 100%;
  // position: absolute;
  // z-index: -1;
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    pointer-events: none;
    z-index: -1;
}

// #background {
//   background-color: rgb(3, 135, 39);
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     opacity: 1;
//     pointer-events: none;
//     z-index: -1;
// }

#github {
  position: relative;
  left: 100px;
}

#linkedin {
  position: relative;
  left: 220px;
}

#playsound {
  border-radius: 12px;
}

canvas {
  border: 5px black solid;
}